---
import Nav from "@/components/layout/Nav.astro";
import ConsentBanner from "@/components/layout/ConsentBanner.astro";
import Footer from "@/components/layout/Footer.astro";

import Hero from "@/components/sections/Hero.astro";
import Problem from "@/components/sections/Problem.astro";
import DarkPain from "@/components/sections/DarkPain.astro";
import Manifest from "@/components/sections/Manifest.astro";
import HowItWorks from "@/components/sections/HowItWorks.astro";
import Course from "@/components/sections/Course.astro";
import Pricing from "@/components/sections/Pricing.astro";
import FaqAndFinalCta from "@/components/sections/FaqAndFinalCta.astro";
---

<Nav />

<main>
  <Hero />
  <Problem />
  <DarkPain />
  <Manifest />
  <HowItWorks />
  <Course />
  <Pricing />
  <FaqAndFinalCta />
</main>

<Footer />

<ConsentBanner />
